# Environment variables
.env
langchain.txt
langgrapgh.txt
groq.txt
cohere.txt


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.venv/
venv/

# Node.js
node_modules/
npm-debug.log*
.npm

# Next.js
.next/
out/
build/
dist/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3
