apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: barista-app
  labels:
    app: backend
spec:
  type: LoadBalancer
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: backend
